<ion-header>

  <ion-navbar>
    <ion-title text-center>Resultado</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="alertExit()">
          <ion-icon name="exit"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <h3 style="display: inline">Final:</h3>
    <h1 style="display: inline">{{promedio}}</h1>
    <br>
    <h2>Tecnico: </h2>
    <div *ngFor="let item of orderTecnico; let i = index;">
      <h2 id=tecnico{{i}} [style.color]='getColor(i, gradeList)'>{{item}} |</h2>
    </div>
    <br/>
    <h3>Promedio Tecnico: </h3>
    <h3>{{promedioTecnico}}</h3>
    <br/>
    <h2>Fisico: </h2>
    <div *ngFor="let orderFisico of orderFisico; let i = index;">
      <h2 id=fisico{{i}} [style.color]='getColor(i, gradeList)'>{{orderFisico}} |</h2>
    </div>
    <br/>
    <h3>Promedio Fisico: </h3>
    <h3>{{promedioFisico}}</h3>
    <br>
</ion-content>
<ion-fab #fab bottom right>
    <button button-ion-fab ion-fab  (click)="restartGrading()">
        <ion-icon name="sync"></ion-icon>
    </button>
</ion-fab>