<nb-card>
  <nb-card-header>Competencia de la categoria {{categorieName}}</nb-card-header>
  <h3 *ngIf="side == 'final'">Final</h3>
  <h3 *ngIf="side == 'bronze'">Bronce 1</h3>
  <h3 *ngIf="side == 'bronze2'">Bronce 2</h3>
  <nb-card-body>
    <div class="row">
      <div class="jumbotron" *ngIf="readyToFinal">
        <h1 class="display-4">Categoria preparada para la final</h1>
        <p class="lead">vuelva atras y espera a que el otro grupo compita para pasar a la final</p>
      </div>
      <div class="col-md-8 offset-2" *ngFor="let group of groups">
        <div class="form-group">
          <h2 *ngIf="group.side == 'blue'">Grupo 1</h2>
          <h2 *ngIf="group.side == 'red'">Grupo 2</h2>
          <label> Nombre del panel: </label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Nombre del panel" [(ngModel)]="group.kataManager">
          </div>
        </div>
        <table class="table table-bordered">
          <thead [ngStyle]="{'background-color':  group.kata != 1 ? '#ff3333' : '#ffffff' }">
            <tr>
              <th>
                <p>
                  <b>Numero</b>
                </p>
              </th>
              <th class="text-center" colspan="3">
                <p>
                  <b>Nombre del competidor</b>
                </p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let offlineCompetitor of group.competitors; let i = index"
              [ngStyle]="{'background-color': offlineCompetitor.qualified ? '#99ff99' : '#ffffff'}">
              <td class="align-right"
                [ngStyle]="{'background-color':  group.kata == 1 && i == 0  ? '#73a1ff' : '#ff3333' }"> {{ i +1}}
              </td>
              <td class="align-right" *ngIf="offlineCompetitor.competitor.name != ''">
                {{ offlineCompetitor.competitor.name }} {{ offlineCompetitor.competitor.lastName}} (
                {{ offlineCompetitor.country.name }} )
              </td>
              <td *ngIf="offlineCompetitor.competitor.name == ''" class="align-right">
              </td>
              <td *ngIf="!offlineCompetitor.isGradePresent">
                <ng-select [items]="katas" bindLabel="name" bindValue="name" [searchFn]="searchId"
                  placeholder="Seleccione un kata" [(ngModel)]="offlineCompetitor.kataName">
                </ng-select>
              </td>
              <td *ngIf="!offlineCompetitor.isGradePresent && !offlineCompetitor.inGradingProcess">
                <button class="btn btn-primary btn-xs" style="margin:5px" 
                  (click)="startCompetition(offlineCompetitor, group)"> Competir
                </button>
              </td>
              <td *ngIf="offlineCompetitor.isGradePresent">
                <span class="badge badge-light">{{ offlineCompetitor.grade }}</span>
              </td>
              <td *ngIf="offlineCompetitor.isGradePresent">
                <button class="btn btn-success btn-xs" (click)="restartCompetitorCompetition(offlineCompetitor)">Volver
                  a votar</button>
              </td>
              <td *ngIf="offlineCompetitor.inGradingProcess">
                <p>Compitiendo ....</p>
                <button class="btn btn-danger btn-xs" (click)="cancelGradeProcess(offlineCompetitor)">Cancelar
                  votacion</button>
              </td>
              <td *ngIf="offlineCompetitor.hasRepeatedGrade" [ngStyle]="{'background-color': '#ff3333' }">
                <button class="btn btn-danger btn-xs" *ngIf="offlineCompetitor.isEnableToStartReplay" (click)="startReplay(offlineCompetitor, group)">Llevar a
                  desempate</button>
              </td>
            </tr>
          </tbody>
      
        </table>
        <div class="btn-toolbar">
          <button class="btn btn-outline-primary pull-right" *ngIf="group.kata != 2" type="button"
            (click)="nextKata(group)">Siguiente kata</button>
          <button  class="btn btn-outline-primary pull-left" type="button" *ngIf="checkGrades(group)" (click)="orderGrades(group)">Ordenar
            resultados</button>
        </div>
      </div>
    </div>
    <button nbButton (click)="goBack()" class="float-right">Atras</button>
  </nb-card-body>
</nb-card>


