page-waiting-kata-manager {
    img {
        position: absolute;
        top: 0; bottom:0; left: 0; right:0;
        margin: auto;
        max-width: 80%;
        max-height: 70%;
    }
    h1 {
        text-align: center;
        color: #0090d0 !important
    }


}
