<div class="modal-header">
    <span>Empate</span>
</div>
<div class="modal-body">
    <div class="form-group">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Nombre del panel" [(ngModel)]="drawGroup.kataManager">
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    <p>
                        <b>Numero</b>
                    </p>
                </th>
                <th class="text-center" colspan="3">
                    <p>
                        <b>Nombre del competidor</b>
                    </p>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let offlineCompetitor of drawGroup.competitors; let i = index">
                <td class="align-right"> {{ i +1}}
                </td>
                <td class="align-right" *ngIf="offlineCompetitor.competitor.name != ''">
                    {{ offlineCompetitor.competitor.name }} {{ offlineCompetitor.competitor.lastName}} (
                    {{ offlineCompetitor.country.name }} )
                </td>
                <td *ngIf="offlineCompetitor.competitor.name == ''" class="align-right">
                </td>
                <td *ngIf="!offlineCompetitor.isGradePresent">
                    <ng-select [items]="katas" bindLabel="name" bindValue="name" [searchFn]="searchId"
                        placeholder="Seleccione un kata" [(ngModel)]="offlineCompetitor.kataName">
                    </ng-select>
                </td>
                <td *ngIf="!offlineCompetitor.isGradePresent && !offlineCompetitor.inGradingProcess">
                    <button class="btn btn-primary btn-xs" style="margin:5px"
                        (click)="startCompetition(offlineCompetitor)"> Competir
                    </button>
                </td>
                <td *ngIf="offlineCompetitor.isGradePresent">
                    <span class="badge badge-light">{{ offlineCompetitor.grade }}</span>
                </td>
                <td *ngIf="offlineCompetitor.inGradingProcess">
                    <p>Compitiendo ....</p>
                    <button class="btn btn-danger btn-xs" (click)="cancelGradeProcess(offlineCompetitor)">Cancelar
                        votacion</button>
                </td>
            </tr>

        </tbody>

    </table>

</div>
<div class="modal-footer">
    <button class="btn btn-md btn-outline-primary" (click)="closeModal()">Guardar</button>
</div>