<nb-card>
  <nb-card-header>Agregar Paises</nb-card-header>
  <nb-card-body>
    <ng-select 
    [items]="defaultCountries"
    bindLabel="name"
    bindValue="id"
    labelForId="state"
    [multiple]="true"
    placeholder="Seleccione un pais"
    (add)=addToList($event)
    (remove)="removeFromList($event)">
</ng-select>
<button nbButton (click)="addCountries()">Guardar</button>
  </nb-card-body>
</nb-card>
<nb-card>
    <table class="table">
        <thead>
          <tr>
            <th class="text-left">
              <p>
                <b>Pais</b>
              </p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let country of countries">
            <td class="align-right">
              {{ country.name }}
              <span class="{{geCountryFlag(country.name)}}"></span> 
            </td>
            <td> <button type="button" class="btn btn-primary btn-icon" 
                  routerLink="/pages/events/{{eventId}}/add-countries/{{country.id}}">
                <i class="ion-plus-round"></i>
              </button></td>
          </tr>
        </tbody>
      </table>
</nb-card>

   