<nb-card class="col-md-12" id="medal-table">
  <nb-card-header> Medallero {{category}} </nb-card-header>
  <nb-card-body>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center">
            <p>
              <b>Posicion</b>
            </p>
          </th>
          <th class="text-center">
            <p>
              <b>Competidor</b>
            </p>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let medal of medalTable">
          <td class="text-center">
            {{medal.place}}
          </td>
          <td>
            {{medal.competitor}}
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton (click)="exportPdf()"> Exportar </button>
  </nb-card-footer>
</nb-card>