<nb-card>
  <nb-card-header>
    {{country.name}}
    <div>
      <button type="button" class="btn btn-primary float-right"
        routerLink="/pages/events/{{eventId}}/country/{{countryId}}/add-competitor">
        Añadir Competidor
      </button>
    <!--<button type="button" class="btn btn-primary pull-right"
          routerLink="/pages/events/{{eventId}}/country/{{countryId}}/add-team">
          Añadir Equipo
        </button>-->
      <button type="button" class="btn btn-secondary float-right" routerLink="/pages/events/{{eventId}}/add-countries">
        Atras
      </button>
    </div>
  </nb-card-header>
</nb-card>
<nb-card>
  <nb-card-body>
    <div class="row">
      <div class="col-md">
        <label>Competidores individuales: </label>
        <nb-list>
          <nb-list-item *ngFor="let competitor of competitors">
            {{ competitor.name }} {{competitor.lastName}} ( {{competitor.categorie.name}} )
            <button nbButton size="xsmall" class="float-right" status="danger" (click)="open(dialog, competitor.name, competitor.lastName)"> Borrar </button> 
            <ng-template #dialog let-data let-ref="dialogRef">
              <nb-card>
                <nb-card-header>Eliminar competidor</nb-card-header>
                <nb-card-body>{{ data }}</nb-card-body>
                <nb-card-footer>
                  <button nbButton type="button" class="btn btn-secondary float-left" (click)="ref.close()">Cancelar</button>
                  <button nbButton type="button" class="btn btn-success float-right" (click)="deleteCompetitors(competitor, ref)">Eliminar</button>
                </nb-card-footer>
              </nb-card>
            </ng-template>
          </nb-list-item>
        </nb-list>
      </div>
    </div>
    <!--
      <div class="col-md-6">
        <label>Equipos: </label>
        <div *ngFor="let team of teams">
          <label> <strong>{{team.name}} </strong></label>
          <nb-list>
            <nb-list-item *ngFor="let competitor of team.competitors">
              {{ competitor.name }} {{competitor.lastName}}
              <button type="button" class="btn btn-warning xs" (click)="deleteCompetitors(competitor)"> Borrar </button> 
            </nb-list-item>
          </nb-list>

        </div>
      </div>
      -->

  </nb-card-body>
</nb-card>