<nb-card>
  <nb-card-header>
    {{country.name}}
    <button type="button" class="btn btn-primary pull-right"
      routerLink="/pages/events/{{eventId}}/country/{{countryId}}/add-competitor">
      Añadir Competidor
    </button>
    <button type="button" class="btn btn-primary pull-right"
      routerLink="/pages/events/{{eventId}}/country/{{countryId}}/add-team">
      Añadir Equipo
    </button>
    <button type="button" class="btn btn-default" routerLink="/pages/events/{{eventId}}/add-countries">
      Atras
    </button>
  </nb-card-header>
</nb-card>
<nb-card>
  <nb-card-body>
    <div class="row">
      <div class="col-md-6">
        <label>Competidores individuales: </label>
        <nb-list>
          <nb-list-item *ngFor="let competitor of competitors">
            {{ competitor.name }} {{competitor.lastName}} ( {{competitor.categorie.name}} )
            <button type="button" class="btn btn-warning xs" (click)="deleteCompetitors(competitor)"> Borrar </button> 
          </nb-list-item>
        </nb-list>
      </div>
      <div class="col-md-6">
        <label>Equipos: </label>
        <div *ngFor="let team of teams">
          <label> <strong>{{team.name}} </strong></label>
          <nb-list>
            <nb-list-item *ngFor="let competitor of team.competitors">
              {{ competitor.name }} {{competitor.lastName}}
              <button type="button" class="btn btn-warning xs" (click)="deleteCompetitors(competitor)"> Borrar </button> 
            </nb-list-item>
          </nb-list>

        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>