<ion-header>

  <ion-navbar>
    <ion-title *ngIf="!isSpectator">Unirse a un panel</ion-title>
    <ion-title *ngIf="isSpectator">Unirse a un panel como espectador</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="alertExit()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content background-size padding>
  <ion-row wrap no-padding>
    <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
      <!--Logo-->
      <div logo>
        <img src="assets/images/icon-KataManager/bandera.png" />
      </div>
      <!--End logo-->
      <!--Form-->
      <div class="form">
        <ion-item no-padding transparent *ngIf="!isSpectator">
          <ion-icon item-left icon-small name="contact"></ion-icon>
          <!---Input field username-->
          <ion-label floating>Nombre de Juez</ion-label>
          <ion-input required type="text" [(ngModel)]="data.judgeName"></ion-input>
        </ion-item>
        <p *ngIf="this.errorName" class="alert alert-danger" style='color: red' padding>{{this.errorName}}</p>


        <ion-item no-padding transparent>
          <ion-icon item-left icon-small name="key"></ion-icon>
          <ion-label floating>Nombre del panel</ion-label>
          <ion-input required type="text" [(ngModel)]="data.sessionName"></ion-input>
        </ion-item>
        <p *ngIf="this.error" class="alert alert-danger" style='color: red' padding>{{this.error}}</p>
        <!---Register button-->
        <button ion-button float-right button-clear-outline round outline (click)="executeAction()">Unirse</button>
      </div>
    </ion-col>
  </ion-row>
</ion-content>