<div class="row">
  <nb-card>
    <nb-card-header>{{ event.name }}</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-sm-6">
          <img src="./assets/images/logo-karate.jpg">
        </div>
        <div class="col-sm-6">
          <div class="btn-group">

            <button nbButton style="margin:5px"  routerLink="/pages/events/{{event.id}}/categories">Sortear</button>
            <button nbButton style="margin:5px" (click)="goContries()">Paises</button>
            <button nbButton style="margin:5px" routerLink="/pages/events/{{event.id}}/categories" [queryParams]="{ competition: true }">Competencia</button>
            <button class="btn btn-outline-warning" style="margin:5px" (click)="goMedal()">
              Ver medallero
            </button>
          </div>
        </div>
      </div>
      <button class="float-right" style="margin:5px"  nbButton (click)="gotEventList()">
       Atras
      </button>       
    </nb-card-body>
  </nb-card>
</div>