<div class="row">
  <nb-card>
    <nb-card-header>{{ event.name }}</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-sm-6">
          <img src="./assets/images/logo-karate.jpg">
        </div>
        <div class="col-sm-6">
          <div class="btn-group">

            <button nbButton style="margin:5px"  routerLink="/pages/events/{{event.id}}/categories">Sortear</button>
            <button nbButton style="margin:5px" routerLink="/pages/events/{{event.id}}/add-countries">Paises</button>
            <button nbButton style="margin:5px" routerLink="/pages/events/{{event.id}}/categories" [queryParams]="{ competition: true }">Competencia</button>
            
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>