<ion-header>
  <ion-navbar>
    <ion-title>Calificar</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>

  <h1>Sesión: {{sessioName}}</h1>
  <h2>Juez: {{judgeName}}</h2>
  <ion-row padding>
      <ion-col>
        <ion-item no-padding transparent>
          <ion-label>Nivel Técnico</ion-label>
          <ion-select placeholder="7.0" [(ngModel)]="data.tecnicLevel" class="select">
            <ion-option *ngFor="let grade of gradeList" value="{{grade.value}}">{{grade.value}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item  no-padding transparent >
            <ion-label>Nivel Fisico</ion-label>
            <ion-select placeholder="7.0" [(ngModel)]="data.phisicLevel" class="select">
                <ion-option ng-selected="grade.value == 7.0"
                 *ngFor="let grade of gradeList" value="{{grade.value}}">{{grade.value}}</ion-option>                
            </ion-select>
          </ion-item>
      </ion-col>

      <ion-col col-12>
        <button ion-button button-clear-outline round outline block text-capitalize (click)="presentAlertConfirm()">
          Enviar calificacion
        </button>
      </ion-col>
    </ion-row>
</ion-content>
