page-karate-grade {
    h1 {
        text-align: center;
        color: #0090d0 !important;
        font-weight: 500;
    }

    h2 {
        text-align: center;
        color: #0090d0 !important;
        font-weight: 500;
    }
}
