<!--  Theme Form - Form + Write Comment -->
<ion-content>
  <ion-grid *ngIf="data != null">
    <ion-row padding>
      <ion-col col-12>
        <ion-thumbnail>
          <img src="assets/images/icon-KataManager/crearPanelDeJueces.png">
        </ion-thumbnail>
      </ion-col>
      <ion-col col-12>
        <ion-item no-padding transparent>
          <ion-label floating>{{data.yourName}}</ion-label>
          <ion-input required type="text" [(ngModel)]="name"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item no-padding transparent>
          <ion-select placeholder="Tipo de panel" [(ngModel)]="type" class="select">
            <ion-option value="5">5</ion-option>
            <ion-option value="7">7</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col col-12>
        <button ion-button button-clear-outline round outline block text-capitalize (click)="onEvent('onSubmit', $event)">
          {{data.button}}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>