<nb-card>
  <nb-card-header>Categorias del evento: {{event.name}}</nb-card-header>
  <nb-card-body>
    <table class="table">
      <thead>
        <tr>
          <th class="text-left">
            <p>
              <b>Categoria</b>
            </p>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let categorie of event.categories">
          <td class="align-right">{{ categorie.name }}</td>
          <td ngClass="text-center" routerLink="/pages/events/{{event.id}}/categories/{{categorie.name}}" *ngIf="!isCompetition">
            <button nbButton>
              Sortear
            </button>
          </td>
          <td ngClass="text-center"  *ngIf="isCompetition">
            <button nbButton routerLink="/pages/events/{{event.id}}/categories/{{categorie.name}}/competition" [queryParams]="{ side: 'blue' }">
              Competir lado azul
            </button>
            <button nbButton routerLink="/pages/events/{{event.id}}/categories/{{categorie.name}}/competition" [queryParams]="{ side: 'red' }">
              Competir lado rojo
            </button>
          </td>
          <td *ngIf="checkKataOfCategorie(categorie.name)">
              <button nbButton routerLink="/pages/events/{{event.id}}/categories/{{categorie.name}}/competition" [queryParams]="{ side: 'final' }"
              (click)="buildFinalGroups(categorie.name)">
                Realizar final
              </button>
            </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>