<nb-card>
  <nb-card-header>Categorias del evento: {{event.name}}</nb-card-header>
  <nb-card-body>
    <table class="table">
      <thead>
        <tr>
          <th class="text-left">
            <p>
              <b>Categoria</b>
            </p>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let categorie of event.categories">
          <td class="align-right">{{ categorie.name }}</td>
          <td ngClass="text-center" routerLink="/pages/events/{{event.id}}/categories/{{categorie.name}}"
            *ngIf="!categorie.isReadyToFinal && !isCompetition">
            <button nbButton>
              Sortear
            </button>
          </td>
          <td ngClass="text-center" *ngIf="isCompetition && !categorie.isReadyToFinal">
            <button nbButton class="btn btn-outline-danger" style="margin:5px"
              routerLink="/pages/events/{{event.id}}/categories/{{categorie.name}}/competition"
              [queryParams]="{ side: 'blue' }">
              Competir Grupo 1
            </button>
            <button class="btn btn-outline-danger" style="margin:5px"
              routerLink="/pages/events/{{event.id}}/categories/{{categorie.name}}/competition"
              [queryParams]="{ side: 'red' }">
              Competir Grupo 2
            </button>
          </td>
          <td ngClass="text-center" *ngIf="isCompetition && categorie.isReadyToFinal">
            <button nbButton class="btn btn-outline-success" style="margin:5px"
              routerLink="/pages/events/{{event.id}}/categories/{{categorie.name}}/competition"
              [queryParams]="{ side: 'final'}" (click)="buildFinalGroups(categorie.name)">
              Final
            </button>
            <button nbButton class="btn btn-outline-info" style="margin:5px"
              routerLink="/pages/events/{{event.id}}/categories/{{categorie.name}}/competition"
              [queryParams]="{ side: 'bronze'}" (click)="buildFinalGroups(categorie.name)">
              Bronce 1
            </button>
            <button nbButton class="btn btn-outline-info" style="margin:5px"
              routerLink="/pages/events/{{event.id}}/categories/{{categorie.name}}/competition"
              [queryParams]="{ side: 'bronze2'}" (click)="buildFinalGroups(categorie.name)">
              Bronce 2
            </button>
            <button class="btn btn-outline-warning" style="margin:5px"
              routerLink="/pages/events/{{event.id}}/category/{{categorie.name}}/medall-table">
              Ver medallero
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
    <button nbButton (click)="goEvent()" class="float-right"> Atras </button>
  </nb-card-body>
</nb-card>