.grade-red-item {
    border-radius: 25px;
    background-color: red;
    margin: 5vh;
    font-size: 15vh;
    vertical-align: text-top;
    text-align: center;
    color: white;
    font-weight: bold;
  }

  .competitor-grade-name {
    font-size: 8vh;
  }

  .grades {
    font-size: 5vh;
  }

  .grade-country {
    font-size: 5vh;
  }