page-waiting-kata-manager {
    [header-background-image] {
    height: 200px;
    background-size: cover;
    background-position: center;
    @include darkening-blend-mode;


    [item-title] {
      color: theme-colors('textColors', 'accent-first') !important;
      position: relative;
      z-index: 9;
    }
  }
// Settings Icon Header
ion-header {
  [class^="icon-"]:before, [class*=" icon-"]:before {
    width: auto !important;
    margin-left: 0 !important;
  }
}

  // Settings Main  Menu
  [main-menu] {
    button {
      padding-left: 30px;
    }

    .item-inner {
      margin-left: 0 !important;
    }

    [icon-small] {
      margin-top: 18px !important;
    }
  }
  // Settings Submenu

  [submenu] {
    ion-label {
      padding-left: 30px !important;
    }
  }

    img {
        position: absolute;
        top: 55; bottom:0; left: 0; right:0;
        margin: auto;
        max-width: 70%;
        max-height: 60%;
    }
    @media screen and (min-width: 690px) {
      h2 {
        text-align: center;
          margin: 0;           
          color: #0090d0 !important; 
          font-weight: 500;
           font-size: 390%;
          }
      h3 {
        position: relative;
        text-align: center;        
          margin: 0;
          color: #0090d0 !important;
          font-weight: 500;
          font-size: 480%;
          }
  }
@media screen and (min-width: 830px) {
  
  h2 {
    text-align: center;    
      margin: 0;   
      color: #0090d0 !important;         
      font-weight: 500;
       font-size: 350%;
      }
  h3 {
    text-align: center;    
      margin: 0;
      color: #0090d0 !important;
      font-weight: 500;
      font-size: 900%;
      }
}
}
mbsc-form > div{
  width: 450px;
}
